h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

a {
    color: darkgreen;
}

h2 {
    font-family: sans-serif;
}

h3 {
    color: rgba(0, 0, 139, 0.8);
}

pre {
    font-family: monospace;
}

del {
    color: gray;
}

mark {
    color: darkblue;
    background-color: pink;
}

.transparent-text {
    color:rgba(0, 0, 0, 0.5);
}

div {
    background-color: #DCF5F5;
    background-image: url('cross.png');
    background-position:top;
}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

#content {
    background-color: white;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.red-outline {
    outline-style: solid;
    outline-color: red;
}

.page {
    background-color: #DCF5F5;
}

.div-border {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 8px;
}

.red-border2 {
    border-style: solid solid none solid;
    border-color: red;
    border-radius: 8px 8px 0 0;
}

.blue-border2 {
    border-style: solid;
    border-color: blue;
    border-radius: 0 0 8px 8px;
}