h1 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

a {
    color: darkgreen;
}

h2 {
    font-family: sans-serif;
}

h3 {
    color: rgba(0, 0, 139, 0.8);
}

pre {
    font-family: monospace;
}

del {
    color: gray;
}

mark {
    color: darkblue;
    background-color: pink;
}

.transparent-text {
    color:rgba(0, 0, 0, 0.5);
}

body {
    background-color: #DCF5F5;
    background-image: url('cross.png');
    background-position:top;
}

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

#content {
    background-color: white;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.red-outline {
    outline-style: solid;
    outline-color: red;
}

.div-border {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 8px;
}

.task-2-6hr {
    border-color: #CFDFEA;
}

.red-border2 {
    border-style: solid solid none solid;
    border-color: red;
    border-radius: 8px 8px 0 0;
}

.blue-border2 {
    border-style: solid;
    border-color: blue;
    border-radius: 0 0 8px 8px;
}

.outerdiv1 {
    background-color: blue;
    border: solid red;
}

.innerdiv1 {
    width: 657px;
    border: solid red;
    height: 177px;
    padding: 12px;
    margin: 10px 20px;
    text-align: right;
    background-color: yellow;

}

.outerdiv2 {
    background: blue;
    border: 1px solid red;
    margin-top: 20px;
}

.innerdiv2 {
    height: 398px;
    width: 398px;
    padding: 12px;
    margin: auto;
    background-color: yellow;
    text-align: right;
    border: 1px solid red;
}

.fa-brands fa-facebook-f {
    color: #BFCFD4;
}

.fa-brands fa-twitter {
    color: #BFCFD4;
}

.fa-solid fa-share-nodes {
    color: #BFCFD4;
}

.inline {
    display: inline;
    padding: 8px;
    background: gray;
}